
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Events</title>
  </head>

  <body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="index-header">
      <h1>My Events</h1>
      <a href="/events/new">Add Event</a>
    </div>

    <div class="card-container">
      <% const userEvents = event.filter(event => event.owner._id.equals(user._id));%>
      <% if (userEvents.length === 0) { %>
        <p>You don't have any events yet.</p>
      <% } else { %>
        <% userEvents.forEach((event) => { %>
          <a href="/events/<%= event._id %>" class="event-card">
            <h4><%= event.title %> Event</h4>
            <p>Owned by <%= event.owner.username %></p>
          </a>
        <% }) %>
      <% } %>
    </div>
  </body>
</html>


