<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
     
      <div class="index-header">
        <h1>Welcome <%= user.username %>!</h1>

    
        
      </div>
      
      <% } else { %>
        <div class="index-header">
      
         <h2> Welcome to Eventure!<br>
Easily add events and manage your invitations all in one place. Whether
 it's a birthday party, wedding, or corporate gathering, eventure simplifies the planning process, letting you
  focus on what truly matters—creating unforgettable moments. Start organizing your events today and enjoy seamless invitation management!<h2>


        </div>
        
    
      <% } %>

  </body>
</html>


